.footer {
  display: flex;
  flex-direction: row;
  max-width: 2200px;
  margin: 10px 56px 50px 56px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, sans-serif;
  color: steelblue;
  border-radius: 4px;
}

.social-icons {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

.footer h2 {
  margin: 5px 20px 0 0;
}

.heart {
  color: #e25555;
}

.footer-panel {
  list-style: none;
  flex: 1;
  margin: 5px;
}

input[type="email"] {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  outline: none;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(77, 77, 77);
  height: 25px;
  width: 150px;
}

form button {
  font-family: Arial, sans-serif;
  outline: none;
  font-size: 14px;
  background: steelblue;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: #ffffff;
  height: 24px;
  width: 70px;
}

.reset-button {
  font-family: Arial, sans-serif;
  outline: none;
  font-size: 14px;
  background: steelblue;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: #ffffff;
  height: 28px;
  width: 70px;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .footer {
    margin: 10px 25px 30px 25px;
  }
}

@media (max-width: 860px) {
  .footer {
    flex-direction: column;
  }

  .footer-panel {
    margin-bottom: 30px;
  }
}
